* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

.cart {
  width: 100%;
  padding: 20px 30px;

  h3 {
    font-size: 32px;
    text-transform: uppercase;
    color: #232323;
    letter-spacing: 1px;
    font-weight: 300;
  }
  .empty-cart {
    width: 100%;
    align-items: center;

    h2 {
      text-align: center;
      text-transform: uppercase;
      font-size: 18px;
      color: #232323;
      letter-spacing: 1px;
    }
    button {
      margin-left: 45%;
      padding: 10px 30px;
      margin-top: 10px;
      background: #fed700;
      color: #cd176c;
      border: none;
      outline: none;
      border: 1px solid #fed700;
      font-weight: 600;
      cursor: pointer;
    }
  }
  .container {
    max-width: 100%;
    padding: 10px 20px;

    .box {
      display: flex;
      width: 100%;
      border: 2px solid #f6f6f6;
      height: 250px;
      margin-top: 10px;

      .img-box {
        img {
          width: 270px;
          height: 100%;
        }
      }
      .details {
        display: flex;
        width: 100%;
        margin-top: 10px;
        margin-left: 30px;
        .info {
          margin-top: 40px;
          margin-left: 60px;

          h4 {
            text-transform: uppercase;
            font-size: 14px;
            color: #8a8a8a;
          }
          h3 {
            margin-top: 10px;
            color: #232323;
            font-size: 20px;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-weight: 600;
          }
          p {
            margin-top: 10px;
            color: #232323;
            text-transform: uppercase;
          }
        }
        .quantity {
          margin-top: 65px;
          margin-left: 70px;
          display: flex;
          button {
            padding: 10px 20px;
            color: #232323;
            border: none;
            outline: none;
            background: #fed700;
            height: 40px;
            font-size: 16px;
            font-weight: 600;
            cursor: pointer;
          }
          input {
            height: 40px;
            padding: 10px 20px;
            background: none;
            border: none;
            outline: none;
            border: 2px solid #fed700;
            color: #cd1e76;
            font-size: 14px;
            font-weight: 600;
            width: 100px;
          }
        }
        .icon {
          margin-top: 65px;
          margin-left: 60px;
          li {
            list-style: none;
            background: #cd1e76;
            padding: 10px 10px;
            color: #fff;
            font-size: 14px;
            font-weight: 600;
            cursor: pointer;
          }
        }
      }
    }
  }
  .buttom {
    margin-left: 30px;
    .total {
      h4 {
        font-size: 22px;
        color: #cd176c;
        text-transform: uppercase;
        font-weight: 600;
      }
    }
    button {
      padding: 10px 30px;
      border: none;
      outline: none;
      background: none;
      background: #fed700;
      color: #232323;
      font-weight: 600;
      font-size: 16px;
      margin-top: 20px;
      cursor: pointer;
    }
  }
}
